@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  background-color: rgb(115, 104, 91);
}
body {
  padding: 0;
  margin: 10px;
}

/* ==========================================================================
     #BUTTON
     ========================================================================== */
     .btn {
      display: inline-block;
      border-radius: 4px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      line-height: 30px;
      padding: 5px 5px;
      margin-top: 30px;
      margin-bottom: 30px;
      transition: all 0.4s ease;
      cursor: pointer;
      font-size: 30px;
      color: rgba(25, 10, 36, 0.927);
      background-color: rgb(125, 78, 22);
      font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    }
    .list {
      list-style:circle;
      line-height: 30px;
      margin-top:0px;
      cursor: pointer;
      font-size: 20px;
      color: rgba(82, 23, 125, 0.927);
      background-color: gray;
      font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    }

    /* .divList{
      line-height: 30px;
      margin-top:30px;
      cursor: pointer;
      font-size: 20px;
      color: rgba(82, 23, 125, 0.927);
      background-color: gray;
      font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif; 
    } */
    .span{
      font-style: italic;
      line-height: 30px;
      cursor: pointer;
      font-size: 25px;
      color: rgba(3, 5, 9, 0.878);
      /* background-color: rgb(240, 21, 21); */
      font-family: "Poppins", "Arial", "bold", sans-serif; 
    }
    .modal-header {
     padding:9px 15px;
     border-bottom:1px solid #eee;
     background-color:  dimgray;
    }
    .modal-footer {
      height: 100px;
      padding:9px 15px;
      border-bottom:spx solid rgba(194, 188, 188, 0.987);
      background-color: dimgray;
      }


   
    